@import "./partials/variables";
@import "./partials/functions";
@import "./partials/mixins";

header {
    background: $primary;
    margin-bottom: 20px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;

    .userIcon, .logo{
        a{
            text-decoration: none;
            color: $secondary;
            font-weight: bolder;

            &:hover{
                transition: 0.5s;
                text-decoration: overline;
                cursor: pointer;
            }
        }
    }
}