@media (max-width: 1010px){
    .searchDatabase{
        width: 800px;
    }

    .writeOrders{
        width: 800px;
    }
}

@media (max-width: 810px){
    .searchDatabase{
        width: 250px;

        .formRow{
            flex-direction: column !important;
        }
    }

    .writeOrders{
        width: 250px;

        .row{
            flex-direction: column;
            height: 180px;
            justify-content: space-around;

            .smallRow{
                width: 240px;
            }
        }
    }
}

@media (max-width: 640px){
    .loginForm, .sentOrder{
        width: 400px;
    }
}

@media (max-width: 405px){
    .loginForm, .sentOrder{
        width: 280px;

        form{
            input, select{
                width: 250px;
            }
        }
    }

    .messageBox{
        width: 285px;
    }

    header{
        flex-direction: column;
        justify-content: space-around;
        height: 70px;
    }
}